html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: url('../images/login_bg.jpg') no-repeat center;
    background-size: cover;
    position: relative;
}
.loginAndRegBox{
    width: 400px;
    height: 310px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.title-box{
    height: 60px;
    background: url('../images/login_title.png') no-repeat center;
}

/* 登录表单 */
.layui-form-item{
    padding: 0 30px;
    position: relative;
}
.links{
    display: flex;
    justify-content: flex-end;
}
.links a{
    font-size: 12px;
}
/* 小图标 */
.layui-icon{
    position: absolute;
    left: 40px;
    top: 10px;
}
input.layui-input{
    padding-left: 32px;
}

/* 注册表单默认隐藏 */
.reg-box{
    display: none;
}